In [1]:
import mongo.mongo as mongo
import pandas as pd

In [2]:
db = mongo.get_database()

In [3]:
db.list_collection_names()

['place',
 'virtual-commuters',
 'route-results',
 'collection',
 'route-options',
 'route-calculation-jobs',
 'virtual-commuters-sets',
 'delay-statistics',
 'places',
 'collection.place',
 'place-resources',
 'test-collection']

In [5]:
df = mongo.mongo_to_df(db, 'place')
df

,_id,place-id,place-name,place-country,nuts-3
0,65553ca27200aefdd559485a,08239904-dfac-4307-b00e-b6827c3c6861,Bayern,DE,DE21

In [22]:
df = pd.DataFrame({'_id': 'aaaaaaaaa', 'place-id': '08239904-dfac-4307-b00e-b6827c3c6861', 'place-name':'Bayern', 'place-country': 'DE', 'nuts-3': 'DE21'}, index=[0])

In [23]:
df

,_id,place-id,place-name,place-country,nuts-3
0,aaaaaaaaa,08239904-dfac-4307-b00e-b6827c3c6861,Bayern,DE,DE21

In [25]:
db.places.insert_many(df.to_dict('records'))

BulkWriteError: batch op errors occurred, full error: {'writeErrors': [{'index': 0, 'code': 11000, 'keyPattern': {'_id': 1}, 'keyValue': {'_id': 'aaaaaaaaa'}, 'errmsg': 'E11000 duplicate key error collection: upper.places index: _id_ dup key: { _id: "aaaaaaaaa" }', 'op': {'_id': 'aaaaaaaaa', 'place-id': '08239904-dfac-4307-b00e-b6827c3c6861', 'place-name': 'Bayern', 'place-country': 'DE', 'nuts-3': 'DE21'}}], 'writeConcernErrors': [], 'nInserted': 0, 'nUpserted': 0, 'nMatched': 0, 'nModified': 0, 'nRemoved': 0, 'upserted': []}