In [1]:
%load_ext autoreload
%autoreload 2
from od.place import Place
from od.stats import Stats

In [2]:
place_name = 'Paris, France'
city = Place(place_name)
stats = Stats(city)

Data found in db

## Region

In [7]:
stats.load_all()

Data found in db
Data found in db
Data found in db
Data found in db
Data found in db

In [8]:
stats.demographic

,nuts3,household_income,age_under_20,age_between_20_64,age_over_64,vehicle_bus,vehicle_car,vehicle_moto,vehicle_special,vehicle_utilities,vehicle_truck,income,employment_rate_between_20_64,employment_rate_over_64,employment_type_agricultural,employment_type_industrial,employment_type_commercial,employment_type_office,employment_type_social
0,FR101,28050.0,0.185915,0.636334,0.177752,0.002224,0.578336,0.066674,0.003104,0.067141,0.064036,28050.0,76.5,6.4,0.000507,0.044579,0.336697,0.394256,0.223961
1,FR105,28050.0,0.243203,0.599046,0.157750,0.002224,0.578336,0.066674,0.003104,0.067141,0.064036,28050.0,76.5,6.4,0.000298,0.113683,0.245071,0.478716,0.162232

In [5]:
stats.export_to_mongo()

## City

In [10]:
city.load_population()
city.load_zoning_data()

Data found in db
Data found in db

In [12]:
city.data.head(2)

,h3,geometry,nuts3,population,education,leisure,empty,work_agricultural,work_industrial,work_commercial,work_office,work_social,work
0,613047304089239551,"POLYGON ((2.34931 48.88809, 2.34299 48.88694, ...",FR101,25519.0,34738.724515,75610.598157,9666.296328,0.0,3031.735382,47723.967943,2400.0,71336.895069,124492.598394
1,613047304080850943,"POLYGON ((2.35298 48.88022, 2.34666 48.87908, ...",FR101,26653.0,29581.162230,61686.749308,10241.949897,0.0,377.179572,60636.391957,8800.0,32147.784730,101961.356259

In [20]:
city.export_place_to_mongo()
city.export_tiles_to_mongo()